html {
    background: url(../images/background1.jpg) no-repeat center center fixed;
    background-size: cover;
    transition: 3s;
}

body {
    margin: 0;
    font-family: Verdana, sans-serif;
}

.container {
    margin: 40px 60px;
}

.transparent {    
    background-color: rgba(0, 0, 0, 0.15);
}

.text-right {
    text-align: right;
}
