.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4;
    } 
    to {
        opacity: 1;
    }
}

@keyframes fade {
    from {
        opacity: .4;
    } 
    to {
        opacity: 1;
    }
}