.grid {
    box-sizing: border-box;
}

.col-70 {
    float: left;
    width: 60%;
    padding: 8px;
}

.col-50 {
    float: left;
    width: 47%;
    padding: 8px;
}

.col-30 {
    float: left;
    width: 34%;
    padding: 8px;
}

.col-20 {
    float: left;
    width: 24%;
    padding: 8px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-70, .col-50, .col-30, .col-20 {
        width: 100%;
    }

    .grid .text-right {
        text-align: center;
    }
}