nav {
    text-transform: uppercase;
    font-size: 12px;
}

nav.nav-small {
    font-size: 10px;
    border-bottom: 1px solid #f8f6f9;
}

nav:not(.nav-small) {
    padding: 16px 0;
}

ul.navbar {
    list-style-type: none;
    margin: 0 60px;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 12px 16px;
    text-decoration: none;
}

nav.nav-small ul.navbar li a {
    padding: 10px 16px;
}

nav.nav-small ul.navbar li:not(.right) {
    border-right: 1px solid #f8f6f9;
}

ul.navbar li a:hover {
    background-color: #fff;
    color: #000;
    font-weight: bolder;
}

ul.navbar li.right {
    float: right;
}

nav:not(.nav-small) ul.navbar li a:hover:not(.active) {
    background-color: #fff;
}

nav:not(.nav-small) ul.navbar li a.active {
    border: 1px solid #fff;
    border-radius: 4px;
}

.logo {
    text-transform: none;
    font-size: 25px;
    font-weight: bolder;
}

@media screen and (max-width: 600px) {
    ul.navbar li.right, ul.navbar li {
        float: none;
    }

    nav.nav-small ul.navbar li:not(.right) {
        border-right: none;
        border-bottom: 1px solid #f8f6f9;
    }
}
