.tabs-wrapper {
    max-width: 800px;
    color: #fff;
}

.tab {
    display: none;
}

.tabs-wrapper .tab-caption {
    position: relative;
    display: inline-block;
    padding: 14px 16px;
    text-align: center;
    color: #fff;
    background: #504c5d;
    border-right: 1px solid #f8f6f9;
    margin-right: -5px;
}

.tabs-wrapper .tab:checked + .tab-caption {
    background: #ac4147;
}

.tabs-wrapper .tab-caption:hover {
    color: #789;
    cursor: pointer;
}

.tabs-wrapper section {
    display: none;
    padding: 20px 16px;
    margin: 0;
    border-top: 3px solid #ac4147;
    background: #f8f6f9;
    color: #000;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
  display: block;
}

.badge {
    position: absolute;
    font-size: 8px;
    background: #df4f53;
    padding: 3px;
    border-radius: 2px;
    top: 17px;
    right: 16px;
}

.tabs-wrapper .badge-tab {
    padding-right: 47px;
}

@media screen and (max-width: 500px) {
    .tabs-wrapper .tab-caption {
      padding: 15px;
    }
  }
